<div class="alert_mikro_parathiro_roll alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="" aria-label="Close"><div aria-hidden="true">&times;</div></button>
  <strong>Warning!</strong> Window size small rolla!!
</div>
<div class="alert_mikro_parathiro_typ alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="" aria-label="Close"><div aria-hidden="true">&times;</div></button>
  <strong>Warning!</strong> Window size small typos!!
</div>
<div class="alert_mikro_parathiro_de alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="" aria-label="Close"><div aria-hidden="true">&times;</div></button>
  <strong>Warning!</strong> Window size small prof de!!
</div>
<div class="alert_mikro_parathiro_ar alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="" aria-label="Close"><div aria-hidden="true">&times;</div></button>
  <strong>Warning!</strong> Window size small prof ar!!
</div>
<div class="alert_mikro_parathiro_pa alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="" aria-label="Close"><div aria-hidden="true">&times;</div></button>
  <strong>Warning!</strong> Window size small prof pa!!
</div>
<div class="alert_mikro_parathiro_ka alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="" aria-label="Close"><div aria-hidden="true">&times;</div></button>
  <strong>Warning!</strong> Window size small prof ka!!
</div>
<div class="alert_mikro_parathiro_width alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="" aria-label="Close"><div aria-hidden="true">&times;</div></button>
  <strong>Warning!</strong> Width wrong!!
</div>
<div class="alert_mikro_parathiro_height alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="" aria-label="Close"><div aria-hidden="true">&times;</div></button>
  <strong>Warning!</strong> Height wrong!!
</div>
<div class="alert_geniko_ok alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="" aria-label="Close"><div aria-hidden="true">&times;</div></button>
  <strong>Warning!</strong> Type again the dimensions and try again!!
</div>
<div class="alert_mikro_parathiro_panw_apo alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="" aria-label="Close"><div aria-hidden="true">&times;</div></button>
  <strong>Warning!</strong> Continue, keep an eye on dimensions!!
</div>
<div class="alert_dimensions alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="" aria-label="Close"><div aria-hidden="true">&times;</div></button>
  <strong>Warning.</strong> The dimensions are default.
</div>