<div class="foo" >
    <table class="footer">
    <tr>
      <td>Balteco Ltd</td>
      <td>Mobil: 6976404076</td>
      <td></td>
      <td>Balteco Ltd</td>
    </tr>
    <tr>
      <td>Greece</td>
      <td>57004 Nea Michaniona</td>
      <td>Telefon 23920-22222</td>
      <td>Telefax 23920-22222</td>
    </tr>
    <tr>
      <td>GR </td>
      <td>info@balteco.pro</td>
      <td>www.balteco.pro</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>www.balteco.pro</td>
      <td>Greece Nea Michaniona 57004</td>
      <td></td>
    </tr>
  </table>
</div>



